/* # flex-wrap
- Podemos uasr mult linhas
- cada nova linha, um novo flex conteiner */


.box {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 1px dashed red
}

.box div {
    border: 1px solid black;

    width: 200px;
}